/*
    Mateo Valles
    26 Sept 2023
*/
body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sender-column {
    text-align: right;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  }
  /* I took this from https://stackoverflow.com/questions/15252597/how-to-add-a-dotted-underline-beneath-html-text */
  u {
    border-bottom: 1px dotted #000;
    text-decoration: none;
  }